:root {
    --vermelho:#e50914;
    --preta:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


h2{
   margin-left: 5px; 
   color: #e50914;
   font-family: 'Bebas',Arial, Helvetica, sans-serif;
   font-size: 60px; 
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 

/*filme principal*/

.filme-p {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),
    url('../img/capa-cavaleiro\ das\ trevas.jpeg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-p .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
   margin-bottom: 5px;
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botoes {
    margin-bottom: 20px;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;

}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-p .container {
    width: 70%;
}

.filme-p .container p  i{
    color: #e50914;  
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

/*carrossel*/

.carrossel-filmes {
    margin-top: 5px;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;   
}

#carrossel {
    padding: 20px;
}

.botao-info {
 
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    font-size: 15px;
    padding: 20px;
    text-align: justify;

 
}

.play {

    padding: 50px ;
    margin-right: 40px;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    opacity: 200;


}

.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top:0px;
    background-color: rgba(0,0,0,.4);
    color:white;
    width:100%;
    height:100%;
    box-sizing: border-box;
    transition: opacity 1s;
     
}

.foto-legenda figcaption p {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}




.foto-legenda:hover figcaption {
    opacity: 1;
}

.parental {
    color: black;
    background: rgb(228, 175, 0);
    font-weight: bold ;
    border-radius: 15%;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2px;

}